[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"
pipfile = "*"
flask-sqlalchemy = "*"
splitio-client = {version = "==8.3.0", extras = ["cpphash"]}
psycopg2-binary = "*"
marshmallow-sqlalchemy = "*"
cryptography = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
